---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (max-width: 600px) {
  .greedy-nav img {
    max-width: 50px !important;
  }
}


