---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (max-width: 600px) {
  .greedy-nav img[src$="logo.png"] {
    width: 70px !important;
    height: auto !important;
  }
}

.masthead {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.masthead__inner-wrap {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
