img[src*="datascience2.png"] {
  max-width: 70%;
  margin: 0 auto;
  display: block;
}


/* FULL-SCREEN header ONLY for Projects page */
.page--projects .page__hero--overlay {
  min-height: 100vh;              /* full screen */
  background-size: contain;       /* show entire image */
  background-repeat: no-repeat;
  background-position: center;
}